/**
 * @author effine
 * @Date 2015年12月5日  下午3:14:11
 * @email verphen#gmail.com
 * @site http://www.effine.cn
 */
 
package cn.effine.dao;

import java.io.Serializable;


import cn.effine.model.${modelName};

public interface ${modelName}Dao extends HibernateDao<${modelName}, Serializable> {
	
}